<h1>Sticker Sheet!</h1>

<% @group.members.each do |member| %>
  <% user_completions = @completed_dates[member.id] || [] %>
  <div class="member-stars"
       data-controller="progress-stars"
       data-progress-stars-user-id="<%= member.id %>"
       data-progress-stars-current-user-id="<%= current_user.id %>"
       data-group-id="<%= @group.id %>"
       data-goal-id="<%= @goal.id %>">

    <h3><%= member.name %>'s Progress</h3>

    <% (1..21).each do |day| %>
      <% date = @goal.start_date + (day - 1).days %>
      <% completed = user_completions.include?(date) %>
      <span class="star <%= 'checked' if completed %> <%= 'clickable' if member == current_user %>"
            data-progress-stars-target="star"
            data-day="<%= day %>">
        <i class="<%= completed ? 'fa-solid' : 'fa-regular' %> fa-star"></i>
        <span class="star-number"><%= day %></span>
      </span>
    <% end %>

    <% if member == current_user %>
      <i id="checkmark-21-<%= @goal.id %>-<%= member.id %>"
         class="fa-solid fa-check-circle"
         style="color: <%= (@completed_dates[member.id]&.length || 0) >= 21 ? 'green' : 'white' %>; font-size: 32px; vertical-align: middle; margin-left: 8px;">
      </i>
    <% end %>
  </div>
<% end %>
