<h1>My Groups</h1>
<p>You are in <%= @groups.count %> groups.</p>

<% if @groups.any? %>
  <ul class="list-group">
    <% @groups.each do |group| %>
      <li class="list-group-item">
        <h3><%= link_to group.name, group_path(group), class: "text-primary" %></h3>


        <p><strong>Members:</strong></p>
        <% if group.members.any? %>
          <ul>
            <% group.members.each do |member| %>
              <li><%= member.email %></li>
            <% end %>
          </ul>
        <% else %>
          <em>No members yet.</em>
        <% end %>


        <p><strong>Progress:</strong></p>
        <div class="progress-stars" data-controller="progress-stars" data-group-id="<%= group.id %>">
          <% 21.times do |i| %>
            <span class="star" data-day="<%= i %>">
              <i class="fa-regular fa-star"></i>  
              <span class="star-number"><%= i + 1 %></span>
            </span>
            <% if i == 20 %>
              <i id="checkmark-21-<%= group.id %>" class="fa-solid fa-check-circle" style="color: gray; font-size: 32px; vertical-align: middle; margin-left: 8px;"></i>
            <% end %>
          <% end %>
        </div>


        <!-- Delete button inside the <li> -->
        <%= link_to "Delete", group_path(group),
              data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
              class: "btn btn-secondary d-inline float-right text-end",
              style: "width: fit-content;" %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No groups found.</p>
<% end %>


<p><strong>Progress:</strong></p>
<div class="progress-stars" data-controller="progress-stars">
  <% 21.times do |i| %>
    <span class="star" data-day="<%= i %>">
      <i class="fa-regular fa-star"></i>
      <span class="star-number"><%= i + 1 %></span>
    </span>
    <% if i == 20 %>
      <i id="checkmark-21" class="fa-solid fa-check-circle"
         style="color: gray; font-size: 32px; vertical-align: middle; margin-left: 8px;"></i>
    <% end %>
  <% end %>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
  document.querySelectorAll('.progress-stars').forEach(progressDiv => {
    const stars = progressDiv.querySelectorAll('.star');
    const groupId = progressDiv.dataset.groupId;
    const checkmark = document.getElementById('checkmark-21-' + groupId);

    stars.forEach((star, index) => {
      star.addEventListener('click', function () {
        const icon = star.querySelector('i');
        star.classList.toggle('checked');

        if (star.classList.contains('checked')) {
          icon.classList.remove('fa-regular');
          icon.classList.add('fa-solid');
          icon.style.color = 'gold';
        } else {
          icon.classList.remove('fa-solid');
          icon.classList.add('fa-regular');
          icon.style.color = 'gray';
        }

        if (index === 20) {
          if (star.classList.contains('checked')) {
            checkmark.style.color = 'green';
          } else {
            checkmark.style.color = 'gray';
          }
        }

        const sparkle = document.createElement('div');
        sparkle.classList.add('sparkle');
        star.appendChild(sparkle);

        setTimeout(() => {
          sparkle.remove();
        }, 500);
      });
    });
  });
});
</script>
