<div class="form-container">
  <h1>New Group</h1>

  <%= form_with(model: @group, local: true, data: { turbo: false }) do |form| %>
    <div>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </div>
    <br>
    <div>
      <%= label_tag :user_emails, "Invite Members by Email" %><br>
      <%= select_tag "group[user_emails][]", "", multiple: true, id: "user-emails", class: "form-control" %>
    </div>
    <br>
    <div>
      <%= form.submit "We got this!", class: "btn btn-primary btn-custom" %>
    </div>
  <% end %>
</div>

<script>
document.addEventListener("turbo:load", () => {
  const users = [
    <% User.where.not(id: current_user.id).each do |user| %>
      { email: "<%= user.email %>" },
    <% end %>
  ];
  const select = document.getElementById("user-emails");
  if (select && users.length > 0) {
    users.forEach(user => {
      const option = document.createElement("option");
      option.value = user.email;
      option.textContent = user.email;
      select.appendChild(option);
    });
    new TomSelect("#user-emails", {
      plugins: ['remove_button'],
      create: false,
      persist: false
    });
  } else {
    console.warn("No users found to populate the dropdown.");
  }
});
</script>
