
<br>
<br>
<div class="form-container">
  <h1>New Group</h1>

  <%= form_with(model: @group, local: true, data: { turbo: false }) do |form| %>
    <div>
      <%= form.label :name %>
      <%= form.text_field :name, placeholder: "Smith family"%>
    </div>
    <div>
      <%= label_tag :user_username, "Invite Members by Username" %>
      <%= select_tag "group[user_username][]", "", multiple: true, id: "user-username", class: "form-control", placeholder: "sam.smith123" %>
    </div>
    <div>
      <%= form.submit "We got this!", class: "btn btn-primary btn-custom" %>
    </div>
  <% end %>
</div>

<script>
document.addEventListener("turbo:load", () => {
  const users = [
    <% User.where.not(id: current_user.id).each do |user| %>
      { username: "<%= user.username %>" },
    <% end %>
  ];
  const select = document.getElementById("user-username");
  if (select && users.length > 0) {
    users.forEach(user => {
      const option = document.createElement("option");
      option.value = user.username;
      option.textContent = user.username;
      select.appendChild(option);
    });
    new TomSelect("#user-username", {
      plugins: ['remove_button'],
      create: false,
      persist: false
    });
  } else {
    console.warn("No users found to populate the dropdown.");
  }
});
</script>

<br>
<br>
