<div class="group-container">
  <h2><%= @group.name.titleize %></h2>
  <p><strong>Members:</strong> <%= @group.members.count %></p>

  <% if @group.goals.empty? %>
<div class="form-actions">

    <%= link_to "Set a Goal for This Group", new_group_goal_path(@group), class: "btn btn-success" %>
  </div>

   <% else %>
   <h3>Goals:</h3>
  <% @group.goals.each do |goal| %>

  <%= goal.name %>
   <% end %>
   <% end %>
  <div class="form-actions">

   <div class ="card-stats">
        <p><strong>Progress:</strong></p>
        <div class="progress-stars" data-controller="progress-stars" data-group-id="<%= @group.id %>">
          <% 21.times do |i| %>
            <span class="star" data-day="<%= i %>">
              <i class="fa-regular fa-star"></i>
              <span class="star-number"><%= i + 1 %></span>
            </span>
            <% if i == 20 %>
              <i id="checkmark-21-<%= @group.id %>" class="fa-solid fa-check-circle" style="color: gray; font-size: 32px; vertical-align: middle; margin-left: 8px;"></i>
            <% end %>
          <% end %>
        </div>
         </div>
  </div>
</div>



<!-- Button trigger modal -->
<button type="button mb-3" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Leave a comment
</button>

<hr>
<h5 class="mt-3">Comments</h5>
 <hr>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= simple_form_for [@group, @comment] do |f| %>
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Comment</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

        <%= f.input :message, label_html: { class: "d-none" }, placeholder: "Comment here...", class: "review" %>

        </div>
        <div class="modal-footer">
        <%= f.button :submit, class: "btn btn-primary" %>


        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "comments/comments_list", comments: @comments %>
