<div class="group-container">
  <h2><%= @group.name.titleize %></h2>
  <p><strong>Members:</strong> <%= @group.members.count %></p>

  <% if @group.goals.empty? %>
<div class="form-actions">

    <%= link_to "Set a Goal for This Group", new_group_goal_path(@group), class: "btn btn-success" %>
  </div>

   <% else %>
   <h3>Goals:</h3>
  <% @group.goals.each do |goal| %>

  <%= goal.name %>
   <% end %>
   <% end %>
  <div class="form-actions">

   <div class ="card-stats">
        <p><strong>Progress:</strong></p>
        <div class="progress-stars" data-controller="progress-stars" data-group-id="<%= @group.id %>">
          <% 21.times do |i| %>
            <span class="star" data-progress-stars-target="star" data-day="<%= i %>">
              <i class="fa-regular fa-star"></i>
              <span class="star-number"><%= i + 1 %></span>
            </span>
            <% if i == 20 %>
              <i id="checkmark-21-<%= @group.id %>" class="fa-solid fa-check-circle" style="color: gray; font-size: 32px; vertical-align: middle; margin-left: 8px;"></i>
            <% end %>
          <% end %>
        </div>
         </div>

    <%= link_to "Back to Groups", groups_path, class: "btn btn-secondary" %>
  </div>
</div>
