<% if user_signed_in? %>
  <div class="sidebar-wrapper">
    <div data-toggle-navbar-target="sidebar" class="sidebar">

     <div class="d-flex align-items-center position-relative p-3">
  <button class="closebtn" data-action="click->toggle-navbar#close"> &times; </button>

  <div class="logo mx-auto">
    <%= image_tag "logo.svg", alt: "test" %>
  </div>
</div>

      <div class="nav-links">
        <div id="navbar_username" style="display: flex; align-items: center; gap: 40px;">
      <% if current_user&.photo&.attached? %>
         <%= cl_image_tag current_user.photo.key, class: "avatar-bordered", alt: "avatar", height: 40, width: 40, crop: :fill %>
        <% end %>
        <strong><%= current_user.username %></strong>
      </div>


      <%= link_to new_group_path, class: "#{'active' if current_page?(new_group_path)}" do %>
        <i class="fa-solid fa-square-plus"></i> New group
      <% end %>

      <%= link_to groups_path, class: "#{'active' if current_page?(groups_path)}" do %>
        <i class="fa-solid fa-users"></i> Your community
      <% end %>
<hr>
      <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>
  </div>
    </div>
  </div>

  <i style="font-size:30px;cursor:pointer;display:none"
     data-action="click->toggle-navbar#open"
     data-toggle-navbar-target="open"
     class="fa-solid fa-arrow-right-to-bracket open-navbar-icon">
  </i>
<% end %>
