<div class="form-container">
<div class="form-title">
<h2>Your Journey Starts Here</h2>
</div>


<%= form_with(model: @goal, url: group_goals_path(@group), method: :post) do |f| %>
  <div class="form-group">
    <%= f.label :group_id, "Select a Group" %>
    <%= f.collection_select :group_id, current_user.groups, :id, :name, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :name, "What’s Your Challenge?" %>
    <%= f.text_field :name, class: "form-control", placeholder: "Start running..." %>
  </div>

  <div class="form-group">
    <%= f.label :reason, "Why is this important to you?" %>
    <%= f.text_area :reason, class: "form-control", placeholder: "To have fun with friend..." %>
  </div>

  <div class="form-group">
    <%= f.label :start_date, "Pick Your Starting Line" %>
    <%= f.date_field :start_date, class: "form-control" %>
  </div>

  <div class="form-actions">
    <%= f.submit "Make It Happen", class: "btn btn-success" %>
  </div>

<% end %>
</div>
