<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Twenty One Days Later" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- Tom Select CSS -->
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css" %>

    <!-- Tom Select JS -->
    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/js/tom-select.complete.min.js" %>
  </head>

  <body data-controller="toggle-navbar">

    <%# <% if controller_name == "" && action_name == "" %>

    <%# <% unless controller_name == "pages"%>

     <%= render "shared/navbar" %>

    <%# <% end %>

    <%= render "shared/flashes" %>


    <div class="main-content" data-toggle-navbar-target="main">
      <%= yield %>
    </div>

      <%= render "shared/footer" %>

  </body>
</html>
